<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title> سامانه جستجوی ملک </title>

</head>
<body>
<h1 class="title is-1">mehrdad</h1>
<h2 class="subtitle is-2">Khishtandar</h2>

</body>
</html>